/* ! Making import to get de fonts */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Source+Sans+Pro:wght@700&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fcfaff;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%235f1a37' fill-opacity='0.55' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: black;
  font-family: "EB Garamond", serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 500;
  text-align: center;
  display: flex;
  /* *This one goes vertical center */
  align-items: center;
  /** Horizontal center */
  justify-content: center;
}
.quote-container {
  width: auto;
  max-width: 900px;
  padding: 15px 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /**Therbga,allowstoaddopacitywithlastitem(a)*/
  background-color: rgba(255, 255, 255, 0.3);
  /**0=vertical,10horizontal,*/
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.quote-text {
  /* *rem help us get responsive   */
  font-size: 2.3rem;
}
.long-text {
  font-size: 2rem;
}
.fa-quote-left {
  font-size: 4rem;
}
.quote-author {
  margin-top: 15px;
  font-size: 1.8rem;
  font-weight: 200;
  font-style: oblique;
}
.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
button {
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  height: 2.5rem;
  color: #fff;
  background-color: #333;
  padding: 0.5rem 1.8rem;
  outline: none;
  box-shadow: 0 0.3rem rgba(123, 123, 123, 0.65);
}

button:hover {
  filter: brightness(115%);
  -webkit-filter: brightness(115%);
}
/* *Making an effect that the button goes down  */
button:active {
  transform: translate(0 0.3rem);
  -webkit-transform: translate(0, 0.3rem);
  -moz-transform: translate(0, 0.3rem);
  -ms-transform: translate(0, 0.3rem);
  -o-transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}
/* *Changing twitter's logo color. */
.twitter-button:hover {
  color: #38a1f1;
}
/* *Changing twitter logo site. */
.fa-twitter {
  font-size: 1.6rem;
}
/*! Media query: Small screen */
/* !Will get for sreens up to 1000px and lower */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }

  .quote-text {
    font-size: 2rem;
  }
}
